.about-postcard {
  margin-top: clamp(90px, 10vw, 150px);
  display: flex;
  justify-content: center;
  padding: 0;
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.about-postcard-inner {
  position: relative;
  width: fit-content;
}

.about-main-img {
  width: clamp(320px, 85vw, 1200px);
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

.me {
    position: absolute;
    top: 23%;
    left: 18%;
    width: 23%;
    height: auto;
    animation: shake 1.5s ease-in-out infinite;
}

.hi {
    position: absolute;
    top: 15%;
    left: 44%;
    width: 29%;
    height: auto;
    animation: shake 1.5s ease-in-out infinite;
}

.heart {
    position: absolute;
    top: 15%;
    left: 8%;
    width: 9%;
    height: auto;
    animation: shake-more 1.5s ease-in-out infinite;
}

.moon {
    position: absolute;
    bottom: 12%;
    right: 9%;
    width: 10%;
    height: auto;
    animation: shake-more 1.5s ease-in-out infinite;
}

.about-text {
  position: absolute;
  top: 57%;
  left: 68%;
  transform: translate(-50%, -50%);
  width: 39%;
  color: #0b1957;
  font-family: 'Inter', sans-serif;
  font-weight: 450;
  font-size: clamp(12px, 1.5vw, 15.5px);
  text-align: left;
}

.bold {
    font-weight: 600;
    color: #9c4d95;
}