.about-favourites {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4vw;
  width: 100%;
  padding: 6vh 4vw;
}

.envelope-group {
  position: relative;
  container-type: inline-size;
  width: clamp(200px, 40vw, 700px);
  flex-shrink: 0;
}

.envelope1 {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  z-index: 1;
  rotate: -3deg;
}

.letter {
  width: 105%;
  height: auto;
  position: absolute;
  top: 3%;
  left: -2%;
  z-index: 2;
}

.envelope2 {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  rotate: -3deg;
}

.favourites-text {
  width: 35%;
  flex-shrink: 1;
}

.favourites-title {
  font-family: 'Instrument Serif', serif;
  font-size: clamp(22px, 4vw, 63px);
  font-weight: 20;
  color: #0b1957;
  margin-bottom: clamp(10px, 2vw, 40px);
}

.favourites-subtitle {
  font-family: 'Mulish', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: clamp(11px, 1vw, 22px);
  color: #000000;
  width: 80%;
}

.favourites-list {
  line-height: 2.5;  
  position: absolute;
  top: 17%;
  left: 29%;
  width: 90%;
  z-index: 4;
  text-align: left;
  /* flex-direction: column; */
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  font-size: 2.2cqi;
  gap: 10px;
  rotate: -7deg;
}

.italic1 {
  font-style: italic;
  color: #0b1957;
}

.letter,
.favourites-list,
.favourites-text {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.letter.visible,
.favourites-list.visible,
.favourites-text.visible {
  opacity: 1;
  transform: translateY(0);
}
