.Mailbox {
  height: auto;
  width: clamp(150px, 35vw, 500px);
  margin-top: clamp(40px, 8vw, 130px);
  opacity: 0.8;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.Airplane {
  height: auto;
  width: clamp(100px, 20vw, 300px);
  margin-left: -1.5vw;
  opacity: 0.8;
  position: relative;
  top: clamp(-80px, -10vw, -150px);
}

.footer-images {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.footer-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0px;
}

.footer-text {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: clamp(-20px, -6vw, -90px);
  margin-top: clamp(20px, 5vw, 80px);
  font-family: 'Instrument Serif', serif;
  font-size: clamp(21px, 4vw, 50px);
  font-weight: 20;
  color: #0b1957;
}

.italic {
  font-style: italic;
  color: #9c4d95;
}

.footer-text p {
  margin: 2px 0;
  font-size: clamp(7px, 1.2vw, 14px);
  color: #000000;
  font-family: 'Inter', sans-serif;
  font-weight: 200;
}

.footer-links {
  display: flex;
  gap: clamp(15px, 3vw, 40px);
  margin-bottom: clamp(8px, 1.5vw, 20px);
  margin-top: clamp(-15px, -2vw, -30px);
}

.footer-links a {
  font-size: clamp(12px, 2vw, 24px);
  font-weight: 300;
  color: #0b1957;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
}

.footer-links a:active {
  color: #9c4d95;
}

.footer {
  padding-top: clamp(30px, 5vw, 80px);;  
  padding-bottom: clamp(30px, 5vw, 80px);
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: row;
    align-items: center;
  }

  .footer-images {
    flex-direction: row;
    align-items: flex-end;
  }

  .footer-text {
    text-align: center;
    margin-left: 0;
    align-items: center;
  }

  .Airplane {
    top: 0;
    margin-left: 0;
  }
}